.explicitly-placed 
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
  }

  li:nth-child(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}

li:nth-child(2) {
  grid-column: 4/5;
  grid-row: 2/3;
}

li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

li:nth-child(4) {
  grid-column: 1/2;
  grid-row: 5/6;
}

li:nth-child(5) {
  grid-column: 4/5;
  grid-row: 5/6;
}

/* Styling */

html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url('img/nycHustle_new_side1.jpg') no-repeat center center/cover;
  padding: 3rem;
}

img {
  display: block;
  width: 100%;
}

section {
  margin: 3rem 4rem 8rem;
}

ul {
  list-style: none;
  margin: 0 0 0 2rem;
  padding: 2.2rem;
  background: #f6f3ea;
  box-shadow: 3px 2px 12px rgba(0,0,0,0.4);
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  text-transform: lowercase;
  margin: 0;
  margin-bottom: 0.8rem;
  line-height: 1;
}

main > h1 {
  background: yellow;
  padding: 0.3em 0.3em 0;
  font-size: 2rem;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,

#navbar ul li
a.current {
  background: #fff;
  color: #f7c08a;
}

@media (min-width: 660px) {
  section {
    margin-left: 6rem;
  }
}

footer {
  font-size: 2.4em;
  padding: 2rem 5rem;
  text-align: right;
}

a {
  color: #456a71;
  text-decoration: none;
}

.warning {
  border: 1px solid pink;
  background: rgba(255,0,0,0.1);
  padding: 2rem;
  margin: 2rem 4rem 8rem 7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
}

@supports (display: grid) {
  .warning {
    display: none;
  }
}
